{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('auth.process_reset_password') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.username.label }}
                  {{ form.username() }}
                </div>
                <div class="form-group">
                  {{ form.old_password.label }}
                  {{ form.old_password() }}
                </div>
                <div class="form-group">
                  {{ form.new_password1.label }}
                  {{ form.new_password1() }}
                </div>
                <div class="form-group">
                  {{ form.new_password2.label }}
                  {{ form.new_password2() }}
                </div>
                {{ form.submit }}

            </form>

        </div>
        <div class="col-8">

        </div>
    </div>
{% endblock %}